<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="POPUP.master.vb" Inherits="FDA_DRUG.POPUP" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
   <%--  <link href="/Content/bootstrap-theme.min.css" rel="stylesheet" />   
    <link href="/Content/bootstrap.css" rel="stylesheet" />
   <link href="/css/plugins/morris.css" rel="stylesheet" />
    <link href="/css/sb-admin5.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.8.2.js"></script>
     <script src="/Scripts/bootstrap.js"></script>
    <script src="/Html5/html5shiv.min.js"></script>
    <script src="/Html5/respond.min.js"></script>
    <link href="/css/Theme.css" rel="stylesheet" />--%>
      
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />   
    <link href="Content/bootstrap.css" rel="stylesheet" />

    <script src="Scripts/jquery-1.8.2.js"></script>
     <script src="Scripts/bootstrap.js"></script>
    <script src="Html5/html5shiv.min.js"></script>
    <script src="Html5/respond.min.js"></script>
    <link href="css/Custom3.css" rel="stylesheet" />


    <style type="text/css">
        input[type=text]
{
    font-family:'TH SarabunPSK';
    font-size:20px;
}
        textarea[type=text]
{
    font-family:'TH SarabunPSK';
    font-size:20px;
}
    </style>
  
       <style type="text/css">
       body
{

  color: #0E2F43;
  height:100%;
  
  /*background-color: #63AFDE;*/
  
  background-image: url('Images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: top center;
}

   </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
