@font-face {
    font-family: 'thaisans_neue_blackregular';
    src: url('../fonts/thaisansneue-black-webfont.eot');src: url('../fonts/thaisansneue-black-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-black-webfont.woff') format('woff'),url('../fonts/thaisansneue-black-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-black-webfont.svg#thaisans_neue_blackregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neuebold';
    src: url('../fonts/thaisansneue-bold-webfont.eot');src: url('../fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-bold-webfont.woff') format('woff'),url('../fonts/thaisansneue-bold-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_extbdregular';
    src: url('../fonts/thaisansneue-extrabold-webfont.eot');src: url('../fonts/thaisansneue-extrabold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-extrabold-webfont.woff') format('woff'),url('../fonts/thaisansneue-extrabold-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-extrabold-webfont.svg#thaisans_neue_extbdregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_extltregular';
    src: url('../fonts/thaisansneue-extralight-webfont.eot');src: url('../fonts/thaisansneue-extralight-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-extralight-webfont.woff') format('woff'),url('../fonts/thaisansneue-extralight-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-extralight-webfont.svg#thaisans_neue_extltregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_lightregular';
    src: url('../fonts/thaisansneue-light-webfont.eot');src: url('../fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-light-webfont.woff') format('woff'),url('../fonts/thaisansneue-light-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-light-webfont.svg#thaisans_neue_lightregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neueregular';
 src: url('../fonts/thaisansneue-regular-webfont.eot');src: url('../fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-regular-webfont.woff') format('woff'),url('../fonts/thaisansneue-regular-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_sembdregular';
    src: url('../fonts/thaisansneue-semibold-webfont.eot');src: url('../fonts/thaisansneue-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-semibold-webfont.woff') format('woff'),url('../fonts/thaisansneue-semibold-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-semibold-webfont.svg#thaisans_neue_sembdregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_ultbdregular';
    src: url('../fonts/thaisansneue-ultrabold-webfont.eot');src: url('../fonts/thaisansneue-ultrabold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-ultrabold-webfont.woff') format('woff'),url('../fonts/thaisansneue-ultrabold-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-ultrabold-webfont.svg#thaisans_neue_ultbdregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_ultltregular';
    src: url('../fonts/thaisansneue-ultralight-webfont.eot');src: url('../fonts/thaisansneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/thaisansneue-ultralight-webfont.woff') format('woff'),url('../fonts/thaisansneue-ultralight-webfont.ttf') format('truetype'),url('../fonts/thaisansneue-ultralight-webfont.svg#thaisans_neue_ultltregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'rsubold';
    src: url('../fonts/rsu_bold-webfont.eot');
    src: url('../fonts/rsu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_bold-webfont.woff2') format('woff2'),
         url('../fonts/rsu_bold-webfont.woff') format('woff'),
         url('../fonts/rsu_bold-webfont.ttf') format('truetype'),
         url('../fonts/rsu_bold-webfont.svg#rsubold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rsulight';
    src: url('../fonts/rsu_light-webfont.eot');
    src: url('../fonts/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_light-webfont.woff2') format('woff2'),
         url('../fonts/rsu_light-webfont.woff') format('woff'),
         url('../fonts/rsu_light-webfont.ttf') format('truetype'),
         url('../fonts/rsu_light-webfont.svg#rsulight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rsuregular';
    src: url('../fonts/rsu_regular-webfont.eot');
    src: url('../fonts/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_regular-webfont.woff2') format('woff2'),
         url('../fonts/rsu_regular-webfont.woff') format('woff'),
         url('../fonts/rsu_regular-webfont.ttf') format('truetype'),
         url('../fonts/rsu_regular-webfont.svg#rsuregular') format('svg');
    font-weight: normal;
    font-style: normal;

}