<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FDA_DRUG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LGTCPNConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=LGTCPN;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_SPECIAL_PAYMENTConnectionString" connectionString="Data Source=10.111.28.98;Initial Catalog=FDA_SPECIAL_PAYMENT;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGTCPNConnectionString1" connectionString="Data Source=10.111.28.103;Initial Catalog=LGTCPN;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_NCT2ConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=LGT_NCT2;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_PERMISSIONConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=LGT_PERMISSION;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_BOOKINGConnectionString" connectionString="Data Source=10.111.28.103;Initial Catalog=FDA_BOOKING_DEMO;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_DRUGConnectionString1" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_DRUG;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_DRUGConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_DRUG;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_XML_DRUG_ESUBConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_XML_DRUG_ESUB;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_DRUGConnectionString" connectionString="Data Source=10.111.28.132;Initial Catalog=LGT_DRUG;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_DRUGConnectionString2" connectionString="Data Source=10.111.28.132;Initial Catalog=LGT_DRUG;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_DRUGConnectionString3" connectionString="Data Source=10.111.28.132;Initial Catalog=LGT_DRUG;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_DRUGConnectionString4" connectionString="Data Source=10.111.28.132;Initial Catalog=LGT_DRUG;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_DRUGConnectionString5" connectionString="Data Source=10.111.28.132;Initial Catalog=LGT_DRUG;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_FEEConnectionString" connectionString="Data Source=10.111.28.158;Initial Catalog=FDA_FEE;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_CFS_CENTERConnectionString" connectionString="Data Source=10.111.28.124;Initial Catalog=FDA_CFS_CENTER;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="LGT_NCTConnectionString" connectionString="Data Source=10.111.28.128;Initial Catalog=LGT_NCT2;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="FDA_DRUG_IMPORTConnectionString" connectionString="Data Source=10.111.28.132;Initial Catalog=FDA_DRUG_IMPORT;Persist Security Info=True;User ID=fusion;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" timeout="120" />
    <customErrors mode="Off" />
    <globalization culture="th-TH" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <applicationSettings>
    <FDA_DRUG.My.MySettings>
      <setting name="FDA_DRUG_WS_REQUEST_NO_SV_REQUEST_NO" serializeAs="String">
        <value>http://medicina.fda.moph.go.th/FDA_DRUG/SV_REQUEST_NO.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_QR_CODE_WS_QR_CODE" serializeAs="String">
        <value>http://medicina.fda.moph.go.th/WS_QR_CODE/WS_QR_CODE.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_DRUG_WS_DRUG" serializeAs="String">
        <value>http://164.115.28.107/WS_DRUG_UPDATE_LCN/WS_DRUG_LCN/WS_DRUG.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_FLATTEN_WS_FLATTEN" serializeAs="String">
        <value>http://10.111.28.137/TEST_FLATEN/WS_FLATTEN.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_LGTDRUG_WS_LGTDRUG" serializeAs="String">
        <value>http://164.115.28.108/WS_LGTDRUG/WS_LGTDRUG.ASMX</value>
      </setting>
      <setting name="FDA_DRUG_WS_CENTER_WS_CENTER" serializeAs="String">
        <value>http://10.111.28.108/WS_CENTER/WS_CENTER.ASMX</value>
      </setting>
      <setting name="FDA_DRUG_WS_Taxno_TaxnoAuthorize_WebService1"
        serializeAs="String">
        <value>http://10.111.28.108/WS_Taxno_TaxnoAuthorize/WS_Taxno_TaxnoAuthorize.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_PVNCD_WebService1" serializeAs="String">
        <value>http://10.111.28.108/WS_get_Profile_By_Identify/WS_Taxno_TaxnoAuthorize.asmx</value>
      </setting>
      <setting name="FDA_DRUG_SV_CHK_PAYMENT_SV_CHECK_PAYMENT" serializeAs="String">
        <value>http://10.111.28.133/SPECIAL_PAYMENT_TXC_BSN/WEBSERVICE/SV_CHECK_PAYMENT.asmx</value>
      </setting>
      <setting name="FDA_DRUG_FDA_MAIL_FDA_MAIL" serializeAs="String">
        <value>http://164.115.28.108/Mail/FDA_MAIL.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_UPDATE_C_Service1" serializeAs="String">
        <value>http://10.111.28.105/WS_BOOKING_DRUG/WS_UPDATE_BOOKING_DRUG.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_UPDATE_C_DEMO_Service1" serializeAs="String">
        <value>http://10.111.28.105/WS_BOOKING_DRUG_DEMO/WS_UPDATE_BOOKING_DRUG.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_FDA_CITIZEN_WS_FDA_CITIZEN" serializeAs="String">
        <value>http://10.111.28.108/WS_CITIZEN/WS_FDA_CITIZEN.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_TRADERS_WS_TRADER" serializeAs="String">
        <value>http://10.111.28.108/WS_TRADER/WS_TRADER.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_ERROR_CENTERS_WS_ERROR_CENTER" serializeAs="String">
        <value>http://10.111.28.105/WS_ERROR_CENTER/WEB_SERVICE/WS_ERROR_CENTER.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_AUTHENTICATION_Authentication" serializeAs="String">
        <value>http://10.111.28.65/WS_AUTHEN4/Authentication.asmx</value>
      </setting>
      <setting name="FDA_DRUG_AUTHEN_LOG_Authentication" serializeAs="String">
        <value>http://10.111.28.104/WS_AUTHEN4/Authentication.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_GETDATE_WORKING_Service1" serializeAs="String">
        <value>http://10.111.28.108/WS_DATE/Service1.svc</value>
      </setting>
      <setting name="FDA_DRUG_SV_UPDATE_PAYMENT_SV_UPDATE_PAYMENT"
        serializeAs="String">
        <value>http://10.111.28.133/SPECIAL_PAYMENT_TXC_BSN/WEBSERVICE/SV_UPDATE_PAYMENT.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_BLOCKCHAIN_WS_BLOCKCHAIN" serializeAs="String">
        <value>http://10.111.28.66/FDA_BLOCKV2/WS_BLOCKCHAIN.asmx</value>
      </setting>
      <setting name="FDA_DRUG_AUTHENTICATION_104_Authentication" serializeAs="String">
        <value>http://10.111.28.104/WS_AUTHEN4/Authentication.asmx</value>
      </setting>
      <setting name="FDA_DRUG_Authentication_66_Authentication" serializeAs="String">
        <value>http://10.111.28.66/WS_AUTHEN4/Authentication.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_CREATE_XML_WS_INSERT_XML_DRUG" serializeAs="String">
        <value>http://10.111.28.107/WS_INSERT_XML_CPN/WS_INSERT_XML_CPN/WS_INSERT_XML_DRUG.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_DRUG_LOG_DR_WS_DRUG" serializeAs="String">
        <value>http://164.115.28.107/WS_DRUG/WS_DRUG/WS_DRUG.asmx</value>
      </setting>
      <setting name="FDA_DRUG_WS_DRUG_126_WS_DRUG" serializeAs="String">
        <value>http://10.111.28.129/WS_DRUG_UPDATE_LCN_126/WS_DRUG_LCN/WS_DRUG.asmx</value>
      </setting>
    </FDA_DRUG.My.MySettings>
  </applicationSettings>
  <appSettings>
    <add key="PATH_PDF_TEMPLATE" value="C:\path\DRUG\PDF_TEMPLATE\" />
    <add key="PATH_XML_CLASS" value="C:\path\XML_CLASS\" />
    <add key="PATH_PDF_XML_CLASS" value="C:\path\PDF_XML_CLASS\" />
    <add key="PATH_PDF_TRADER" value="C:\path\PDF_TRADER\" />
    <add key="PATH_XML_TRADER" value="C:\path\XML_TRADER\" />
    <add key="PATH_DEFALUT" value="C:\path\DRUG\" />
    <add key="PATH_EDIT" value="C:\path\DRUG\XML_DRRGT_EDIT\" />
    <add key="PATH_FILE_DRUG" value="C:\path\BOOKING_DRUG\" />
    <add key="paths" value="D:/Report\" />
    <add key="RDLC" value="D:/RDLC\" />
	<add key="PATH_XML_IMPORT" value="C:\path\XML_IMPORT\" />
	<add key="PATH_PDF_IMPORT" value="C:\path\PDF_IMPORT\" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>