<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="MAIN_STAFF_MAIN.master.vb" Inherits="FDA_BOOKING.MAIN_STAFF_MAIN" %>


<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
     <%--<script src="../js/jquery-1.8.3.js"></script>--%>
        

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ระบบนัดหมาย ด้านยา </title>
     <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../assets/css/style.css" rel="stylesheet" />
   
        <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <telerik:RadScriptManager ID="RadScriptManager1" runat="server"></telerik:RadScriptManager>
        <div class="main-wrapper">
        <div class="brand-top">
            <div class="container">
                <div class="brand-img">
                    <img src="../assets/images/logo.png">
                    <p > <small>version 2.3</small></p>
                </div>
                <div class="brand-text">
                    <h1>ระบบนัดหมาย ด้านยา</h1>
                    <p> <small>สำนักงานคณะกรรมการอาหารและยา กระทรวงสาธารณสุข</small> </p>
                </div>
                <div class="info-right">
                    <div class="row">
                        <span class="title">
                            <h4>เจ้าหน้าที่ : </h4>
                        </span>
                        <span class="content">
                            <h4><asp:Label ID="lb_login" runat="server"></asp:Label>
                            </h4>
                        </span>
                    </div>
                    <div class="row">
                        <span class="title">
                            <h4>หน่วยงาน : </h4>
                        </span>
                        <span class="content">
                            <h4>
                                <asp:Label ID="lbl_position" runat="server"></asp:Label>
                            </h4>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" style="background-color:gold;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <asp:Literal ID="ltr_header_nav" runat="server"></asp:Literal>
                    <ul class="nav navbar-nav">
                        <li  ><a style="color:black;" href="../STAFF_MAIN/FRM_STAFF_HOME.aspx">หน้าแรก</a></li> 
                        <li ><a style="color:black;" href="../REPLACEMENT_DRUG_BOOKING/FRM_REPLACEMENT_BOOKING.aspx">ลงทะเบียนนัดหมาย</a></li>
                         <li ><a style="color:black;" href="../REPLACEMENT_DRUG_BOOKING/FRM_REPLACEMENT_BOOKING_EDIT.aspx">ปรับปรุงข้อมูล</a></li>
                         <li ><a style="color:black;" href="../REPORT_DRUG/FRM_REPORT_DRUG_BOOKING.aspx">รายงาน</a></li>
                         <li ><a style="color:black;" href="../REPORT_DRUG/FRM_REPORT_DRUG_BOOKING_PROCESS.aspx">รายงานตาม PROCESS ID</a></li>
                        
   <%--     <li ><a style="color:black;" href="../SCHEDULE/FEM_SCHEDULE_MAIN.aspx">ตารางเวลางาน</a></li>
        <li><a style="color:black;" href="../BOOKING_STAFF/FRM_BOOKING_STAFF_MAIN.aspx">การลงเวลาพนักงาน</a></li>
       <li ><a style="color:black;" href="../BOOKING_SUPERSEDE/FRM_BOOKING_SUPERSEDE_MAIN.aspx">ลงคิวให้ผู้ประกอบการ</a></li>--%>
       

                        
                         <li>
                            <a style="color:black;" href="http://privus.fda.moph.go.th/">ออกจากระบบ</a>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"> 
                               <%-- <img src="../assets/images/nav_icon-search.png">--%>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="border"></span>
        </nav>

        <div class="container">
            <div class="row">

               

                <div class="col-md-12">
                  
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            
                        </asp:ContentPlaceHolder>
                </div>

            </div>
        </div>
    </div>

  

    </form>
</body>
</html>
